@model adstra_task.Core.AuthorPost

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AuthorPost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.postCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.postCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDescraption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDescraption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="~/Images/@Model.PostImageUrl" class="img-fluid" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
